body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  
  ol, ul {
    padding-left: 30px;
    list-style: none;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 4px solid rgb(179, 152, 130);
    float: left;
    font-size: 120px;
    font-weight: bold;
    line-height: 34px;
    height: 200px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 200px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .game-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .game-next{
    display: inline-block;
  }
  .move_button{
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: rgb(171, 78, 247);
    color: #fff;
  }